<div class="container">
  <ul class="list payments-list">
    <li *ngFor="let payment of payments">
      <img [src]="'assets/images/' + payment + '.png'" alt="" />
    </li>
  </ul>
  <div class="services">
    <ul class="list offer">
      <li>some offer</li>
    </ul>
    <ul class="list products">
      <li>some products</li>
    </ul>
    <ul class="list information">
      <li>some information</li>
    </ul>
    <ul class="list About Super Bet">
      <li>some About Super Bet</li>
    </ul>
  </div>
</div>
