@import "~src/variables";
.payments-list {
  display: flex;
  background: $brand-color-dark;
  padding: 1rem 0;
  justify-content: center;
  li {
    padding: 0 2rem;
  }
}
.container {
  min-width: $screen-lg-min;
}
.services {
  padding: 2rem;
  max-width: $screen-lg-min;
  display: flex;
  justify-content: space-between;
  margin: auto;
  ul {
    li {
      margin-bottom: 0.5rem;
      color: rgba(255, 255, 255, 0.7);
      &:first-child {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
  }
}
