<div class="container" [@toggle]="{ value: state, params: { height: height } }">
  <div class="header" (click)="toggle()">
    <span class="title">{{ title }}</span>
  </div>
  <div class="options">
    <ul class="list options-list">
      <li
        class="options-list-item"
        *ngFor="let option of options; let i = index"
        (click)="selectSport(option, i)"
      >
        <img [src]="'assets/images/' + option + '.png'" [alt]="option" />
        <span>
          {{ option }}
        </span>
      </li>
      <span
        [ngStyle]="{ width: highlighterWidth + 'px' }"
        class="highlighteer"
        [@slide]="{ value: slide, params: { translate: translate } }"
      ></span>
    </ul>
  </div>
  <div class="body" class="bets">
    <ng-container
      *ngTemplateOutlet="type === 'live-bets' ? liveBets : simpleBets"
    ></ng-container>
    <app-loader *ngIf="!selectedSport" class="loader-position"></app-loader>
  </div>
</div>

<ng-template #liveBets>
  <div class="live-betting">
    <div class="head">
      <div class="clock"><i class="far fa-clock"></i></div>
      <div class="teams">event</div>
      <div class="color-yellow score">score</div>
      <div class="leage">leage</div>
      <div>1</div>
      <div>X</div>
      <div>2</div>
    </div>
    <div class="t-body" @switchPage *ngIf="selectedSport?.id === selectedId">
      <div
        class="t-body-item"
        *ngFor="
          let bet of selectedSport?.items;
          trackBy: trackByName;
          let i = index
        "
      >
        <div class="clock">{{ dates[i] | date: "hh:mm" }}</div>
        <div class="teams teams-data">
          {{ bet.teams[0].name }} vs {{ bet.teams[1].name }}
        </div>
        <div class="color-yellow score">{{ scores[i] }}</div>
        <div class="leage-data">{{ leages[i] }}</div>
        <div class="odds-table win-odds-first">
          {{ bet.teams[0].win | floor }}
        </div>
        <div class="odds-table draw-odds">{{ bet.draw | floor }}</div>
        <div class="odds-table win-odds-second">
          {{ bet.teams[1].win | floor }}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #simpleBets>
  <div class="wrapper">
    <ul
      class="list best-bets"
      @bounceList
      *ngIf="selectedSport?.id === selectedId"
    >
      <li
        *ngFor="
          let bet of selectedSport?.items;
          trackBy: trackByName;
          let i = index
        "
        class="list-item"
      >
        <div class="odds">{{ dates[i] | date: "d.M.yy hh:mm" }}</div>

        <app-bet
          *ngIf="bet"
          [team]="bet.teams[0]"
          [id]="bet.id"
          [index]="0"
          class="odds"
          (event)="addToCoupon(bet, 0, $event)"
        ></app-bet>
        <app-bet
          *ngIf="bet"
          [draw]="bet.draw | floor"
          [index]="-1"
          [id]="bet.id"
          class="odds"
          (event)="addToCoupon(bet, -1, $event)"
        ></app-bet>
        <app-bet
          *ngIf="bet"
          [team]="bet.teams[1]"
          [id]="bet.id"
          [index]="1"
          class="odds"
          (event)="addToCoupon(bet, 1, $event)"
        ></app-bet>
      </li>
    </ul>
  </div>
</ng-template>
