<div class="container">
  <div class="wrapper main">
    <div class="wrapper left">
      <img
        class="logo"
        src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/656/2323870656_8c6c8227-342f-4be4-a695-1005df8e8657.png?cb=1571084434"
        alt="logo"
      />

      <ul class="list categories-list">
        <li *ngFor="let category of categories">{{ category }}</li>
      </ul>
    </div>
    <div class="wrapper right">
      <button class="button">Register</button>
      <button class="button">Log in</button>
    </div>
  </div>
</div>
