<div class="container">
  <div class="wrapper main">
    <div class="wrapper left">
      <div class="logo">
        <div>Super&nbsp;<span>Bet</span></div>
      </div>
      <ul class="list categories-list desktop-flex">
        <li *ngFor="let category of categories">{{ category }}</li>
      </ul>
    </div>
    <div class="wrapper right">
      <button class="button desktop">Register</button>
      <button class="button desktop">Log in</button>
      <div class="mobile menu">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
</div>
