<div class="container">
  <div class="nav nav-left">
    <app-card
      class="nav-item"
      title="Recomended"
      itemsSet="0"
      class="nav-item"
    ></app-card>
    <app-card class="nav-item" title="Bets" itemsSet="1"></app-card>
  </div>
  <div class="main">
    <app-dashboard
      title="live betting"
      type="live-bets"
      class="mb-1"
    ></app-dashboard>
    <app-dashboard title="best bets" type="bets"></app-dashboard>
  </div>
  <div class="nav nav-right">
    <app-coupon class="nav-item"></app-coupon>
    <img
      class="nav-item banner"
      [src]="'assets/images/' + banner"
      alt=""
      *ngFor="let banner of banners"
    />
  </div>
</div>
