<div class="container">
  <div class="nav nav-left">
    <div class="card nav-item" *ngFor="let item of [1, 2, 3]">
      <div class="card-header">Header</div>
      <div class="card-body">
        Lorem ipsum fwefwe efewf fr werwfgtwr htregrf dw Lorem ipsum fwefwe
        efewf fr werwfgtwr gtwr htregrf dw Lorem ipsum fwefwe efewf fr werwfgtwr
        htregrf dw
      </div>
    </div>
  </div>
  <div class="main">
    <app-dashboard title="live betting" class="mb-1"></app-dashboard>
    <app-dashboard title="best bets"></app-dashboard>
  </div>
  <div class="nav nav-right">
    <div class="card nav-item" *ngFor="let item of [1, 2, 3]">
      <div class="card-header">Header</div>
      <div class="card-body">
        Lorem ipsum fwefwe efewf fr werwfgtwr htregrf dw Lorem ipsum fwefwe
        efewf fr werwfgtwr htregrf dw Lorem ipsum fwefwe efewf fr werwfgtwr
        htregrf dw Lorem ipsum fwefwe efewf fr werwfgtwr htregrf dw
      </div>
    </div>
  </div>
</div>
