@import "~src/variables";

.container {
  width: 100%;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.nav {
  &-right {
    width: 100%;
  }
  &-item {
    margin-bottom: 1rem;
    display: block;
  }
}
.main {
  width: 100%;
  margin-bottom: 1rem;
}

.banner {
  width: 100%;
}

@media screen and (min-width: $screen-lg-min) {
  .container {
    width: $screen-lg-min;
    flex-direction: row;
  }
  .nav {
    &-left {
      margin-right: 0.5rem;
      width: 20%;
    }
    &-right {
      width: 25%;
      margin-left: 0.5rem;
    }
    &-item {
      margin-bottom: 1rem;
      display: block;
    }
  }
  .main {
    width: 55%;
    margin: 0 0.5rem;
  }
}
