$brand-color: #16489f;
// to turn it darker put rgba(0,0,0,0.15)

$brand-color-dark: #1a273e;
$brand-color-darker: #060d1a;
$yellow: #faa41a;
$yellow-active: #ffc600;

// widths

$screen-md-min: 992px;
$screen-lg-min: 1200px;

// fonts
$font-sm: 13px;
